*{
	margin: 0;
	padding: 0;

}
/*https://place-puppy.com/500x300
https://placebear.com/500/300
https://placekitten.com/500x300
https://placekitten.com/500/300*/

#banner{
	background-image: url(https://images.pexels.com/photos/9726802/pexels-photo-9726802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*stretches the image to cover the whole element*/
	background-size: cover;
	/*used to select a part of the image that will be used for the cover*/
	background-position: center;
}